<nav class="breadcrumbs" aria-label="breadcrumbs menu">
  {{#if page.breadcrumbs}}
  <ul>
    {{#if (and @root.page.attributes.breadcrumb-title @root.page.attributes.breadcrumb-path)}}
    {{#with @root.site.url}}
    <li><a href="{{{relativize this}}}/{{{@root.page.attributes.breadcrumb-path}}}">{{{@root.page.attributes.breadcrumb-title}}}</a></li>
    {{/with}}
    {{/if}}
    {{#each (or asciidoc.attributes.breadcrumbs page.attributes.breadcrumbs)}}
    <li>
      {{#if this.url}}
      <a href="{{this.url}}">
      {{/if}}
      {{ this.name }}
      {{#if this.url}}
      </a>
      {{/if}}
    </li>
    {{/each}}

    {{!-- don't display the component name in breadcrumbs for docs-home --}}
    {{#unless (eq page.attributes.layout 'docs-ndl') }}
    {{#with page.componentVersion}}
    {{#if (and ./title (not (or ./root (eq ./title @root.page.breadcrumbs.0.content))))}}
    <li><a href="{{{relativize ./url}}}">{{{./title}}}</a></li>
    {{/if}}
    {{/with}}
    {{/unless}}

    {{#each page.breadcrumbs}}
    <li>
    {{~#if (and ./url (eq ./urlType 'internal'))~}}
    <a href="{{{relativize ./url}}}">
      {{#if @root.page.attributes.breadcrumb}}
        {{@root.page.attributes.breadcrumb}}
      {{else}}
        {{{./content}}}
      {{/if}}
    </a>
    {{~else~}}
      {{#if @root.page.attributes.breadcrumb}}
        {{@root.page.attributes.breadcrumb}}
      {{else}}
        {{{./content}}}
      {{/if}}
    {{~/if~}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</nav>
