{{!-- TODO:  Add these into vendor bundle --}}
{{!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="https://d3js.org/d3-force.v2.min.js"></script> --}}

{{#with (assets-path page)}}
  {{#if (or (eq @root.page.layout 'training-certification') (eq @root.page.layout 'training-enrollment') (eq @root.page.layout 'training'))}}
    <script src="//go.neo4j.com/js/forms2/js/forms2.min.js"></script>
  {{/if}}
  {{#if (and (eq page.attributes.theme "cheat-sheet") (not (eq site.url "http://localhost:5252")))}}
  <script src="{{{@root.site.path}}}{{{@root.site.ui.url}}}/js/vendor/auth0.js"></script>
  <script src="{{{@root.site.path}}}{{{@root.site.ui.url}}}/js/site.js"></script>
  {{!-- <script async src="{{{@root.site.path}}}{{{@root.site.ui.url}}}/js/vendor/gram.js"></script> --}}
  <script async src="{{{@root.site.path}}}{{{@root.site.ui.url}}}/js/vendor/highlight.js"></script>
  <script async src="{{{@root.site.path}}}{{{@root.site.ui.url}}}/js/vendor/image-zoom.js"></script>
  {{else}}
  <script src="{{{this}}}/js/vendor/auth0.js"></script>
  <script src="{{{this}}}/js/site.js"></script>
  {{!-- <script async src="{{{this}}}/js/vendor/gram.js"></script> --}}
  <script async src="{{{this}}}/js/vendor/highlight.js"></script>
  <script async src="{{{this}}}/js/vendor/image-zoom.js"></script>
  {{/if}}
{{/with}}

{{#if page.attributes.includedriver}}
<script src="https://cdn.jsdelivr.net/npm/neo4j-driver@4.2.2/lib/browser/neo4j-web.min.js"></script>
{{/if}}

<div id="neo4j-algolia-search-v2"></div>
<script src="https://neo4j.com/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/chunkless/bundle.js"></script>
<script src="https://neo4j.com/wp-content/themes/neo4jweb/assets/neo4j-react-modules-assets/search-preact/chunkless/polyfill.js"></script>
<script>window.algoliaSearchOptions = {indexName: "docs",placeholder: "Search Documentation",template: "docs"}</script>