<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      {{!-- <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"> --}}
      <a class="navbar-item" href="/">
        {{!-- <link rel="icon" href="{{{uiRootPath}}}/img/favicon.ico" type="image/x-icon"> --}}
        {{!-- <img class="navbar-logo" src="{{{uiRootPath}}}/img/logo.svg" alt="{{ site.title }}" /> --}}

      {{#if (eq page.attributes.theme "docs") }}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/docs/" class="navbar-item no-left-padding" aria-label="Docs">
        Docs
      </a>
      {{else if (eq page.attributes.theme "cheat-sheet")}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/docs/cypher-cheat-sheet/" class="navbar-item no-left-padding" aria-label="Labs">
        Cypher Cheat Sheet
      </a>
      {{else if (eq page.attributes.theme "labs")}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/labs/" class="navbar-item no-left-padding" aria-label="Labs">
        Labs
      </a>
      {{else if (eq page.attributes.theme "kb")}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/developer/kb/" class="navbar-item no-left-padding page-name-white" aria-label="Knowledge Base">
        Knowledge Base
      </a>
      {{else if (eq page.attributes.theme "training")}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/graphacademy/online-training/" class="navbar-item no-left-padding page-name-white" aria-label="GraphAcademy">
        GraphAcademy
      </a>
      {{else if (eq page.attributes.theme "graphgists")}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/graphgists/" class="navbar-item no-left-padding page-name-white" aria-label="GraphGists">
        GraphGists
      </a>
      {{else}}
      <img class="navbar-logo" src="https://dist.neo4j.com/wp-content/uploads/20230926084108/Logo_FullColor_RGB_TransBG.svg" alt="{{ site.title }}" />
      <a href="/developer/" class="navbar-item no-left-padding page-name-white" aria-label="Developer Guides">
        Developer
      </a>
      {{/if}}

      {{#if (eq page.attributes.theme "graphgists")}}
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable graphgists">
          <a class="navbar-link" href="/graphgists/">Use Cases</a>
          <div class="navbar-dropdown">
          {{#each page.attributes.use-cases}}
            <div class="navbar-item project">
              <a class="project-name" href="{{{relativize pub.url}}}">{{this.name}}</a>
            </div>
          {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable graphgists">
          <a class="navbar-link" href="/graphgists/">Industries</a>
          <div class="navbar-dropdown">
            {{#each page.attributes.industries}}
            <div class="navbar-item project">
              <a class="project-name" href="{{{relativize pub.url}}}">{{this.name}}</a>
            </div>
          {{/each}}
          </div>
        </div>
        {{/if}}
      </div>

      <button class="navbar-search search-button" data-target="topbar-nav" id="search_open_mobile" aria-label="Open Search">
        <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" class="fill-current float-right" id="searchx" role="button" title="Search Website">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <g transform="translate(-2.000000, -2.000000)" stroke="#a0aec0" stroke-width="1.5">
              {{!-- <g id="Group"> --}}
              {{!-- <g id="search"> --}}
              <circle
                transform="translate(11.389364, 11.388564) rotate(-23.025000) translate(-11.389364, -11.388564) "
                cx="11.3893642" cy="11.3885639" r="8.056"></circle>
              <path d="M17.0853333,17.0844444 L23.3333333,23.3333333" ></path>
              {{!-- </g> --}}
              {{!-- </g> --}}
            </g>
          </g>
        </svg>
      </button>
      <button class="navbar-burger" data-target="topbar-nav" aria-label="Mobile Navigation Button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      {{#if (eq page.attributes.theme 'cheat-sheet') }}
      <div class="navbar-start">
        <span class="navbar-link">
          <a href="/docs/cypher-manual/{{this.displayVersion}}" class="project-link external">Cypher documentation</a>
        </span>
      </div>
      {{else}}
      {{> navbar-end}}
      {{/if}}
    </div>
  </nav>
  {{#if (and page.attributes.banner page.attributes.banner-text)}}
  <div class="header-banner{{#with (or page.attributes.banner "info")}} {{{this}}}-banner{{/with}}">
    <span>{{#with page.attributes.banner-text}}{{{this}}}{{/with}}</span>
    {{#if page.attributes.banner-link}}
    <span>
      <a href="{{{page.attributes.banner-link}}}">{{#with (or page.attributes.banner-link-text page.attributes.banner-link)}}{{{this}}}{{/with}}</a>
    </span>
    {{/if}}
  </div>
  {{/if}}

</header>
