{{#unless @root.page.attributes.nav-hide-site-title}}
<div class="component">
  <div class="nav-product">
    {{#if (eq page.attributes.theme 'cheat-sheet') }}
    <span class="nav-product-name">Cypher Cheat Sheet</span>
    {{else}}
    <span class="nav-product-name">{{#with @root.page.componentVersion}}{{{ ./title }}}{{/with}}</span>
    {{/if}}
  </div>
</div>
{{/unless}}

{{#if page.versions.[1]}}
<div class="selectors">
<div class="nav-panel-versions{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">

  <div class="dropdown">
    <span class="dropdown-label">{{#with (or page.attributes.cheatsheet-product 'Product')}}{{this}}{{/with}} Version</span>

    <select aria-label="Version" id="selector-version" data-current="{{@root.page.version}}" class="version-selector dropdown-styles">
      {{#each page.versions}}
      {{#unless (and this.prerelease @root.page.attributes.nav-selectors-hide-prerelease)}}
      <option
        data-version="{{this.displayVersion}}"
        {{#if this.prerelease }}data-prerelease="{{this.prerelease}}"{{/if}}
        value="{{{relativize this.url}}}"
        {{#if (eq this.version @root.page.version)}} selected{{/if}}
        {{~#if this.missing}} disabled{{/if}}
      >
        {{#unless @root.page.attributes.selector-hide-label }}{{#with (or @root.page.attributes.selector-label 'Version') }}{{{this}}} {{/with}}{{/unless}}{{ this.displayVersion }}{{#if (and @root.page.attributes.nav-indicate-latest (eq this.version @root.page.latest.version)) }} (Latest){{else}}{{#with this.selectorText }} {{{this}}}{{/with}}{{/if}}
      </option>
      {{/unless}}
      {{/each}}
    </select>
  </div>
</div>
</div>
{{/if}}
