{{#if page.versions.[1]}}
<div class="nav-panel-versions{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">

  <div class="dropdown">
    <span class="dropdown-label">Neo4j Version</span>

    <select data-current="{{@root.page.version}}" class="version-selector dropdown-styles">
      {{#with @root.page.componentVersion}}
      <option value="" selected>
        {{#unless @root.page.attributes.nav-hide-component-title}} {{{ ./title }}} {{/unless}}{{ this.displayVersion }}{{#if (and @root.page.attributes.nav-indicate-latest (eq @root.page.version @root.page.latest.version)) }} (latest){{/if}}
      </option>
      {{/with}}
      {{#each page.versions}}
      {{#unless this.prerelease}}
      <option
        data-version="{{this.displayVersion}}"
        value="{{{relativize this.url}}}"
        {{~#if this.missing}} disabled{{/if}}
      >
        {{ this.displayVersion }}{{#if (and @root.page.attributes.nav-indicate-latest (eq this.version @root.page.latest.version)) }} (latest){{/if}}
      </option>
      {{/unless}}
      {{/each}}
    </select>
  </div>
</div>
{{/if}}