  <div class="nav-panel-types{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
    <div class="dropdown">
      <select id="cheat-sheet-selector" class="cs-selector dropdown-styles">
        {{#each page.attributes.cheatsheets}}
        {{#if this.default}}
        <option value="{{this.class}}" data-label="{{#with (or this.label this.name) }}{{{this}}}{{/with}}" data-product="{{this.class}}" selected>{{this.name}}</option>
        {{else}}
        <option value="{{this.class}}" data-label="{{#with (or this.label this.name) }}{{{this}}}{{/with}}" data-product="{{this.class}}" {{#if this.label-only }}hidden{{/if}}>{{this.name}}</option>
        {{/if}}
        {{/each}}
      </select>
  </div>
</div>

  <aside class="toc sidebar" data-title="{{or page.attributes.toctitle ''}}"
  data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu">
    <div class="toc-menu-placeholder"></div>
  </div>
</aside>