{{#if navigation.length}}

  {{#each navigation}}

    {{#if this.componentHeader}}
    <ul class="nav-list docset-list{{#if (eq this.component @root.page.component.name)}}{{#unless (eq this.componentVersion @root.page.version)}} hidden{{/unless}}{{/if}}" data-component="{{this.component}}" data-version="{{this.componentVersion}}">
      {{#each this.items}}
        {{#if this.tabOverview}}
        <li class="nav-item tab-overview{{#if (eq this.url @root.page.url)}} is-current-page{{/if}}"{{#with this.pageTabs}} data-tabs="{{this}}"{{/with}} data-depth="2">
          {{#if this.url}}
          <a class="nav-link" href="
            {{~#if (eq this.urlType 'internal')}}{{{fix-nav-path this.url @root.page}}}
            {{~else}}{{{this.url}}}{{~/if}}">Overview</a>
          {{/if}}
        </li>
        {{/if}}
      {{/each}}
      <li class="nav-item docset-title{{#if (or (contains-url this.items @root.page.url) @root.page.attributes.navOpenDocsets)}} is-active{{/if}}"{{#with this.pageTabs}} data-tabs="{{this}}"{{/with}} data-depth="{{or ../level 0}}">
        <span class="nav-text nav-item-toggle">
          {{{this.componentTitle}}}
        </span>
        <ul class="nav-list">
          {{> nav-tree navigation=this.items level=(increment ../level) module=(or this.module ../module) show=../show}}
        </ul>
      </li>
    </ul>
    {{/if}}
    {{#unless this.componentHeader}}
    {{#unless this.tabOverview}}
    <ul class="nav-list"{{#with this.component}} data-component="{{this}}"{{/with}}{{#with this.componentVersion}} data-version="{{this}}"{{/with}}>
      <li class="nav-item{{#if (eq this.url @root.page.url)}} is-current-page{{/if}}{{#if this.componentHeader}} docset-divider{{/if}}"{{#with this.pageTabs}} data-tabs="{{this}}"{{/with}} data-module="{{or ../module this.module}}" data-depth="{{or ../level 0}}"{{#with this.asciidoc}} data-slug="{{this.attributes.page-slug}}"{{/with}}>
        {{#if this.content}}
        {{#if this.url}}
        <a class="nav-link{{#if this.items.length}} nav-item-toggle{{/if}}" data-depth="{{or ../level 0}}" href="
          {{~#if (eq this.urlType 'internal')}}{{{fix-nav-path this.url @root.page}}}
          {{~else}}{{{this.url}}}{{~/if}}">{{{this.content}}}</a>
        {{else if this.items.length }}
        <span class="nav-text nav-item-toggle">{{{this.content}}}</span>
        {{else if (has-string this.content "href=") }}
          {{{this.content}}}
        {{else}}
        <span class="nav-text nav-section-header">
          {{{this.content}}}
          </span>
        {{/if}}
        {{/if}}
          {{> nav-tree navigation=this.items level=(increment ../level) module=(or this.module ../module) show=../show}}
      </li>
    </ul>
    {{/unless}}
    {{/unless}}

  {{/each}}

{{/if}}
