{{#with page.versions}}
<div class="page-versions" data-intro="👋 Neo4j 5 is available now! 🎉">
  <button class="version-menu-toggle" title="Show other versions of page">{{@root.page.componentVersion.displayVersion}}</button>
  <div class="version-menu">
    {{#each this}}
    {{#unless this.prerelease}}
    <a class="version
      {{~#if (eq this.version @root.page.version)}} is-current{{/if~}}
      {{~#if this.missing}} is-missing{{/if}}" href="{{{relativize this.url}}}"
      onclick="ga('send','event','version-select','From:{{@root.page.version}};To:{{this.displayVersion}}');">{{this.displayVersion}}</a>
    {{/unless}}
    {{/each}}
  </div>
</div>
{{/with}}
