{{#with page.versions}}
</script>
<div class="dropdown">
  <span class="dropdown-label">Neo4j Version</span>
  <select class="dropdown-styles" onchange="window.location.href='{{{relativize this.url}}}';ga('send','event','version-select','From:{{@root.page.version}};To:{{this.displayVersion}}');">
    {{#each this}}
    {{#unless this.prerelease}}      
    <option value="{{this.displayVersion}}" {{~#if (eq this.version @root.page.version)}}selected{{/if~}}>
      {{this.displayVersion}}
    </option>
    {{/unless}}
    {{/each}}
  </select>
</div>
{{/with}}
