{{!-- {{#with ( tab-path page )}} --}}
<div class="category-tabs">
    <ul class="category-ul">
        {{!-- <li><a href=""><span>Fundamentals</span></a></li> --}}
        <li{{#if (eq page.attributes.tabs 'get-started' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/get-started/"><span>Get Started</span></a></li>
        <li{{#if (eq page.attributes.tabs 'administration' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/administration/"><span>Administration</span></a></li>
        <li{{#if (eq page.attributes.tabs 'cypher' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/cypher/"><span>Cypher</span></a></li>
        <li{{#if (eq page.attributes.tabs 'tools' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/tools/"><span>Tools</span></a></li>
        <li{{#if (eq page.attributes.tabs 'developer' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/developer/"><span>Developer</span></a></li>
        <li{{#if (eq page.attributes.tabs 'reference' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/reference/"><span>Reference</span></a></li>
        <li{{#if (eq page.attributes.tabs 'tutorials' ) }} class="is-active"{{/if}}><a href="{{{ relativize @root.site.url }}}/tutorials/"><span>Tutorials</span></a></li>
    </ul>
</div>
{{!-- {{/with}} --}}