{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li class="nav-item{{#if (eq this.url @root.page.url)}} is-current-page{{/if}}" data-depth="{{or ../level 0}}"{{#with this.asciidoc}} data-slug="{{this.attributes.page-slug}}"{{/with}}>
    {{#if this.content}}
    {{#if this.items.length}}
    {{!-- <button class="nav-item-toggle"></button> --}}
    {{/if}}
    {{#if this.url}}
    <a class="nav-link" href="
      {{~#if (eq this.urlType 'internal')}}{{{relativize this.url}}}
      {{~else}}{{{this.url}}}{{~/if}}">{{{this.content}}}</a>
    {{else}}
    <span class="nav-text nav-item-toggle">{{{this.content}}}</span>
    {{/if}}
    {{/if}}
{{> nav-tree navigation=this.items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
