<!DOCTYPE html>
<html lang="en">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body
  class="article graphgist{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "
  developer")}} {{{this}}}{{/with}}">

  {{> header}}
  {{> graphgists-header}}

  <main class="article">
    <div class="content">
      <article class="doc">
        <div class="sect1">
          <div class="sectionbody">
            {{> breadcrumbs}}
            <h1 class="page">{{#with (or page.title page.attributes.title)}}{{{this}}}{{/with}}</h1>
            <aside class="graphgist-metadata">
              <dl>
                {{#with page.attributes.author}}
                <dt>Author</dt>
                <dd>{{this}}</dd>
                {{/with}}
                {{#with page.attributes.industries}}
                <dt>Industries</dt>
                <dd>
                  {{#each this}}
                  <a href="{{this.pub.url}}" class="graphgist-industry">{{this.name}}</a>
                  {{/each}}
                </dd>
                {{/with}}
                {{#with page.attributes.usecases}}
                <dt>Use cases</dt>
                <dd>
                  {{#each this}}
                  <a href="{{this.pub.url}}" class="graphgist-use-case">{{this.name}}</a>
                  {{/each}}
                </dd>
                {{/with}}
              </dl>
              <div class="graphgist-metadata-menu">
                <ul>
                  <li><a class="button secondary" href="https://portal.graphgist.org/graph_gists/{{page.attributes.slug}}/source">Show source</a>
                  <li><a class="button secondary" download href="{{@root.page.attributes.canonical-root}}{{page.attributes.notebookUrl}}">Download as Jupyter Notebook</a></li>
                  {{#with page.attributes.browserGuideUrl}}
                    <li class="open-neo4j-browser">
                      <fieldset>
                        <legend>Open in Neo4j Browser</legend>
                        <label for="neo4j-browser-connection-url">Connection URL</label>
                        <div class="field has-addons">
                          <div class="control">
                            <input id="neo4j-browser-connection-url" class="input" type="text" placeholder="">
                          </div>
                          <div class="control">
                            <a id="neo4j-browser-open-link" class="button" target="_blank" data-browser-guide-url="{{this}}">
                              Open
                            </a>
                          </div>
                        </div>
                      </fieldset>
                    </li>
                  {{/with}}
                </ul>
              </div>
            </aside>
          </div>
        </div>
        <div class="sect1">
          <div class="sectionbody">
            {{#if (eq page.layout '404')}}
            <div class="paragraph">
              <p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is
                broken.
                If you typed the URL of this page manually, please double check that you entered the address correctly.
              </p>
            </div>
            {{else}}
            {{{page.contents}}}
            {{/if}}
            {{> comments}}
            {{> feedback}}
          </div>
        </div>
      </article>
    </div>
  </main>

  {{> footer}}

</body>

</html>
