<!DOCTYPE html>
<html lang="en">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body class="article landing graphgists{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}


<main class="article">
  <div class="content">
    <article class="doc">
      {{> graphgists-header}}

      <div class="sect1 secondary leading">
        <h2>Featured GraphGists</h2>
        <div class="sectionbody">
          <ul class="graphgists">
            {{#each page.attributes.featured-pages}}
              <li>{{> graphgist-card }}</li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div class="sect1">
        <h2>Explore By Use Case</h2>
        <div class="sectionbody">
          <ul class="use-cases">
          {{#each page.attributes.use-cases}}
            <li>
              <img src="{{{this.imageUrl}}}" alt="{{this.name}}">
              <a href="{{{relativize pub.url}}}"> <span>{{this.name}}</span></a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>

      <div class="sect1">
        <h2>Explore By Industry</h2>
        <div class="sectionbody">
          <ul class="industries">
          {{#each page.attributes.industries}}
            <li>
              <img src="{{{this.imageUrl}}}" alt="{{this.name}}">
              <a href="{{{relativize pub.url}}}"> <span>{{this.name}}</span></a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
      <div class="sect1">
        <h2>Create your own GraphGist</h2>
        <div class="sectionbody">
          <div class="paragraph">
            <p>
              We maintain that Graphs are <em>everywhere</em>.
              Have you spotted a novel Graph use case somewhere, or would you like to share your own use case?
              You can share your own GraphGist with the Neo4j Community now by visiting the
              <a href="https://portal.graphgist.org" target="_blank">GraphGist Portal</a>.
            </p>
          </div>
          <div class="paragraph">
            <p>
              <a href="https://portal.graphgist.org" class="button" target="_blank">Create a GraphGist now</a>
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>

{{> footer}}
</body>
</html>
