<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article landing kb-article {{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">

{{> header}}
{{> kb-header}}

<main class="article">
  <div class="content">
    <article class="doc">
      <div class="sect1">
        <div class="sectionbody">
          {{> breadcrumbs}}
          <h1 class="page">{{{or page.title 'Page Not Found'}}}</h1>
          <aside class="kb-metadata">
            <div class="kb-metadata-menu">
              {{#with (get-page)}}
                {{#with (kb-article-metadata this)}}
                  <dl>
                    {{#with author}}
                      <dt>Author</dt>
                      <dd>{{this}}</dd>
                    {{/with}}
                    {{#with neo4j-versions}}
                      <dt>Applicable versions</dt>
                      <dd>
                        {{#each (tokenize this)}}
                          <span class="version">{{this}}</span>
                        {{/each}}
                      </dd>
                    {{/with}}
                    {{#with tags}}
                      <dt>Tags</dt>
                      <dd>
                        {{#each (tokenize this)}}
                          {{#with (kb-tag-page this)}}<a href="{{{relativize pub.url}}}" class="keyword label label--{{../this}}">{{../this}}</a>{{/with}}
                        {{/each}}
                      </dd>
                    {{/with}}
                  </dl>
                {{/with}}
              {{/with}}
              <div class="edit-this-page">
                {{!-- <svg class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg> --}}
                <a href="{{@root.page.editUrl}}">Edit this Page</a>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="sect1">
        <div class="sectionbody">

          {{#if (eq page.layout '404')}}
            <div class="paragraph">
              <p>If you arrived on this page by clicking on a link, please notify the owner of the site that the link is broken.
                If you typed the URL of this page manually, please double check that you entered the address correctly.</p>
            </div>
          {{else}}
            {{{page.contents}}}
          {{/if}}
          {{> comments}}
          {{> feedback}}
        </div>
      </div>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>
