<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article landing kb-home{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}

<section class="hero">
  <div class="row">
    <div class="columns medium-12">
      {{#with page.title}}
        <h1>{{{this}}}</h1>
      {{/with}}
      <h2 id="kb-category-title"></h2>
    </div>
  </div>
</section>

{{{page.contents}}}

<main class="article">
  <div class="content">
    <article class="doc">
      <section>
        <div class="kb-articles">
          {{#each (kb-articles)}}
            <div class="kb-article kb-article-{{#with asciidoc.attributes.category}}{{slug this}}{{/with}}" data-kb-category="{{#with asciidoc.attributes.category}}{{slug this}}{{/with}}">
              <h3><a href="{{@root.page.attributes.canonical-root}}{{pub.url}}">{{{title}}}</a></h3>
              {{#with (kb-article-excerpt this)}}
                <div class="excerpt">
                  {{this}}
                </div>
              {{/with}}
              <div class="kb-tags">
                {{#with asciidoc.attributes.tags}}
                  {{#each (tokenize this)}}
                    <span class="keyword">{{this}}</span>
                  {{/each}}
                {{/with}}
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>
