<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article landing kb-home{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}

<section class="hero">
  <div class="row">
    <div class="columns">
      {{#with page.title}}
        <h1>{{{this}}}</h1>
        <a href="#" id="kb-search-button" title="Search Knowledge Base">
          <div class="search-text">
            <svg class="kb-search-icon" viewBox="0 0 23 23" role="button">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g transform="translate(-2.000000, -2.000000)" stroke="#a0aec0" stroke-width="1.5">
                  <circle transform="translate(11.389364, 11.388564) rotate(-23.025000) translate(-11.389364, -11.388564) " cx="11.3893642" cy="11.3885639" r="8.056"></circle>
                  <path d="M17.0853333,17.0844444 L23.3333333,23.3333333"></path>
                </g>
              </g>
            </svg>
            Search
          </div>
          <div>
            <span class="search-hint">shortcut "/"</span>
          </div>
        </a>
      {{/with}}
    </div>
  </div>
</section>

{{{page.contents}}}

<main class="article">
  <div class="content">
    <article class="doc">
      <section class="row">
        <div class="kb-categories">
          <h3>Categories</h3>
          <ul>
            {{#each (kb-categories)}}
              <li><a href="{{#with (kb-categories-page)}}{{{relativize this.pub.url}}}?category={{../name}}{{/with}}">{{name}} ({{count}})</a></li>
            {{/each}}
          </ul>
        </div>
        <div class="kb-promoted">
          <h3>Promoted</h3>
          <ul>
            {{#each (kb-promoted)}}
              <li><a class="btn" href="{{@root.page.attributes.canonical-root}}{{pub.url}}">{{{title}}}</a></li>
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="kb-tags">
        <h3>Tags</h3>
        <ul>
          {{#each (kb-tags)}}
            <li><a href="{{#with (kb-tags-page)}}{{{relativize this.pub.url}}}?tag={{../name}}{{/with}}">{{name}} ({{count}})</a></li>
          {{/each}}
        </ul>
      </section>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>
