<!DOCTYPE html>
<html lang="en">

<head>
  {{> head defaultPageTitle='Untitled'}}
</head>

<body class="article landing kb-home{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
  {{> header}}
  {{> kb-header}}

  {{{page.contents}}}

  <main class="article">
    <div class="content">
      <article class="doc">
        <div class="sect1 secondary leading">
          <h2>Promoted Articles</h2>
          <div class="sectionbody">
            {{#each (kb-promoted)}}
            <div class="article paragraph column kb-article--{{#with asciidoc.attributes.category}}{{slug this}}{{/with}}" data-kb-category="{{#with asciidoc.attributes.category}}{{slug this}}{{/with}}">
              <h3><a href="{{@root.page.attributes.canonical-root}}{{pub.url}}">{{{title}}}</a></h3>
              {{#with (kb-article-excerpt this)}}
                <div class="excerpt">
                  {{this}}
                </div>
              {{/with}}

              <p><a href="{{@root.page.attributes.canonical-root}}{{pub.url}}" class="more information">Read more</a></p>

              <div class="kb-tags">
                {{#with @root.page.attributes.tags}}
                  {{#each (tokenize this)}}
                    <span class="label label--tag label--{{this}}">{{this}}</span>
                  {{/each}}
                {{/with}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="sect1 flex">
          <h2>Browse By Category</h2>
          <div class="sectionbody">
            {{#each (kb-categories)}}
              <div class="column category">
                <h3><a href="{{#with (kb-category-page name)}}{{{relativize this.pub.url}}}{{/with}}" class="more information">{{name}}</a></h3>
                <ul class="category-tags">
                  {{#each (kb-popular-tags name)}}
                    {{#with (kb-tag-page name)}}<li><a href="{{{relativize pub.url}}}">{{../name}}<span class="count">{{../count}}</span></a></li>{{/with}}
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </div>
        </div>
      </article>
    </div>
  </main>

  {{> footer}}
</body>
</html>
