<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article landing kb-home{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}">
{{> header}}

<section class="hero">
  <div class="row">
    <div class="columns medium-12">
      {{#with page.title}}
        <h1>{{{this}}}</h1>
      {{/with}}
    </div>
  </div>
</section>

{{{page.contents}}}

<main class="article">
  <div class="content">
    <article class="doc">
      <section class="row">
        <div class="kb-categories">
          <h3>Categories</h3>
          <ul>
            {{#each (kb-categories)}}
              <li><a href="{{@root.site.url}}/categories?category={{name}}">{{name}} ({{count}})</a></li>
            {{/each}}
          </ul>
        </div>
        <div class="kb-promoted">
          <h3>Promoted</h3>
          <ul>
            {{#each (kb-promoted)}}
              <li><a class="btn" href="{{@root.page.attributes.canonical-root}}{{pub.url}}">{{{title}}}</a></li>
            {{/each}}
          </ul>
        </div>
      </section>
      <section class="kb-tags">
        <h3>Tags</h3>
        <ul>
          {{#each (kb-tags)}}
            <li><a href="{{@root.site.url}}/tags?tag={{name}}">{{name}} ({{count}})</a></li>
          {{/each}}
        </ul>
      </section>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>
