<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article training-certification{{#with (or asciidoc.attributes.role page.role)}} {{{this}}}{{/with}}{{#with (or page.attributes.theme "developer")}} {{{this}}}{{/with}}"{{#if page.attributes.certification-id}} data-certification-id="{{page.attributes.certification-id}}"{{/if}}>
{{> header}}

<section class="hero">
  <div class="row">
    <div class="columns medium-12">
      {{#with page.title}}
        <h1>{{{this}}}</h1>
      {{/with}}
    </div>
  </div>
</section>

<main class="article">
  <div class="content">
    <article class="doc">
      <header>
        <div class="sectionbody">
          {{> breadcrumbs}}
          <h3>{{page.attributes.description}}</h3>
        </div>
      </header>
      <section>
        <div class="course-description column">
          {{{page.contents}}}
        </div>
        <div class="course-actions column" data-status="loading">
          <div class="info">
            <p></p>
          </div>
          <div class="error">
            <p>Error while loading the data, please refresh the page.</p>
          </div>
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <div class="content">
            <div class="course-state" data-state="unauthenticated">
              <div class="panel">
                <a href="#" data-action="signin" class="button button-signin">Sign in</a>
              </div>
            </div>
            <div class="course-state" data-state="authenticated">
              <a href="#" data-action="logout" class="button button-logout">Logout</a>
              <form class="panel" id="mktoForm_1255"{{#if (ne page.attributes.disable-enrollment undefined)}} data-disabled="true"{{/if}}{{#with (training-course-index-page page.component.name)}} data-course-url="{{@root.page.attributes.canonical-root}}{{pub.url}}"{{/with}}></form>
            </div>
            <div class="course-state" data-state="enrolled">
              <a href="#" data-action="logout" class="button button-logout">Logout</a>
              <div class="panel">
                <a href="#" data-action="course-continue" class="button button-course-continue">Continue</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>

{{> footer}}

</body>
</html>
